@{
    ViewData["Title"] = "Home Page";
}

<div>
  <h1 style="margin-top: 100px;margin-left:30%;">Sacrament Meeting Planner</h1>
    <img style="margin-left:20%;"  src="~/images/joe-cook-bntv2OJLpLk-unsplash.jpg" alt="Temple Image"/>
</div>
